div.loading {
 min-height: calc(100vh - 90px);
 background-color: #EEEEEE;
}

.lds-dual-ring {
 display: inline-block;
 width: 64px;
 height: 64px;
 margin: 64px 0;
}
.lds-dual-ring-inner {
 display: block;
 width: 100%;
 height: 100%;
 border-radius: 50%;
 border: 5px solid #24242A;
 border-color: #24242A transparent #24242A transparent;
 animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
 0% {
   transform: rotate(0deg);
 }
 100% {
   transform: rotate(360deg);
 }
}
