#MainTokenSaleAddToken p, .groupBottom p {
  font-size: 15px;
  color: #b8b8b8;
  margin-right: 20px;
}

#MainTokenSaleAddToken .btnChange, .btnChange {
  background: #7d7d7d;
  color: white;
  height: 35px;
  font-size: 15px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  max-width: 200px;
}

#MainTokenSaleAddToken .groupBottom, .groupBottom {
  margin: 40px 0px;
}

#MainTokenSaleAddToken .btnChange:hover {
  background: #b8b8b8;
}

@media (min-width: 600px) {
  #MainTokenSaleAddToken .groupBottom {
    padding-left: 63px;
  }

  #MainTokenSaleAddToken .groupBottom {
    flex-direction: row;
  }
}
@media (max-width: 599px) {

    #MainTokenSaleAddToken .groupBottom {
      flex-direction: column;
    }
  }
