#MainTokenSaleAddToken p, .groupBottom p {
  font-size: 15px;
  color: #b8b8b8;
  margin-right: 20px;
}

#MainTokenSaleAddToken .btnChange, .btnChange {
  background: #7d7d7d;
  color: white;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  max-width: 200px;
}

#MainTokenSaleAddToken .groupBottom, .groupBottom {
  margin: 20px 0px;
}
.groupBottom {
  margin: 10px 0px 20px;
}
.left img{
  width:48px;
}

#MainTokenSaleAddToken .btnChange:hover, .btnChange:hover {
  background: #b8b8b8;
}

@media (min-width: 600px) {
  #MainTokenSaleAddToken .groupBottom, .groupBottom {
    padding-left: 63px;
  }

  #MainTokenSaleAddToken .groupBottom, .groupBottom {
    flex-direction: row;
  }
}
@media (max-width: 599px) {

    #MainTokenSaleAddToken .groupBottom, .groupBottom {
      flex-direction: column;
    }
    #MainTokenSaleAddToken .groupBottom div, .groupBottom div{
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }
