#sidebar {
 position: fixed;
 top: 0;
 right: 0;
 min-height: 100%;
 background-color: #575757;
 transform: translateX(100%);
 z-index: 100;
}

#sidebar.open {
 transform: translateX(0%);
}

#sidebar .item {
 height: 90px;
 color: #d4d4d4;
 padding-left: 40px;
 border-bottom: 1px solid #d4d4d4;
 cursor: pointer;
}

#sidebar .item.title {
 color: #d4d4d4;
 background-color: #343434 !important;
}
#sidebar .item.title:hover {
    color: #d4d4d4;
   }
#sidebar a {
    text-decoration: none;
}
#sidebar .item.active {
 background-color: #eeeeee;
 color: #fa8100;
}

#sidebar .item:hover {
    background-color: #343434;
    color: #fa8100;
}

#sidebar .mainMenuImg {
    width: 25px;
    margin-right: 19px;
}
