#sidebar {
 position: fixed;
 top: 0;
 right: 0;
 min-height: 100%;
 background-color: #E2E2E2;
 border-left: 1px solid #515151;
 width: 320px;
 transform: translateX(320px);
 z-index: 100;
}

#sidebar.open {
 transform: translateX(0%);
}

#sidebar .item {
 height: 90px;
 color: #A7A7A7;
 
 
 padding: 0 25px;
 border-bottom: 1px solid #515151;
 cursor: pointer;
}

#sidebar .item.title {
 color: #515151;
 background-color: initial !important;
}

#sidebar .item.active {
 background-color: #F1F1F1;
 color: #FEBA50;
}

#sidebar .item:hover {
 background-color: #F1F1F1;
}