#tokenList {
  padding-top: 50px;
  padding-bottom: 50px;
}

#tokenList .maxWidth {
  max-width: 1920px;
}

#tokenList h1 {
  color: #838383;
}

#tokenList img {
  width: 60px;
  margin-right: 10px;
}

#tokenList .fa.fa-plus {
  border-radius: 100%;
  border: 2px solid white;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  font-size: 15px;
}

#tokenList .flexCenter {
  display: flex;
  align-items: center;
}

#tokenList a {
  text-decoration: none;
}

#tokenList .btn a button {
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  background: #FA8100;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

#tokenList .btn a button:hover {
  background: #FFAA00;
}

#tokenList .cards {
  background: white;
  border-radius: 5px;
  padding: 20px 0px;
  margin: 50px 0px;
}

.cards .border {
  border-right: 1px solid #b8b8b8;
}

.cards .partCard {
  height: 70px;
  text-align: center;
  color: #b8b8b8;
}

.cards h4 {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #FA8100;
  margin: 0;
}

.cards p {
  text-align: center;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.cards a button {
  width: 100%;
  height: 70px;
  background: #3583f3;
  border: none;
  border-radius: 5px;
  color: white;

}
.cards a button p, button p{
  font-weight: 500;
  font-size: 18px;
  margin-left: 0;
}
p.marginTxt{
  margin-left: 10px;
}
.cards a button span{
font-size: 14px;
margin-top: 10px;
}
.cards a button:hover {
  background: #69A4F9;
}

#tokenList .videoContainer {
  background: #515151;
  height: 250px;
  color: #a7a7a7;
  border-radius: 5px;
  font-size: 100px;
  max-width: 600px;
}

@media (min-width: 1028px) {
  #tokenList .btn a button {
    width: 320px;
  }
}
@media (max-width: 567px) {
  #tokenList .btn a button {
    margin-top: 20px;
  }
}

@media (max-width: 1027px) {
  #tokenList .btn a button {
    width: 220px;
  }
}

@media (min-width: 568px) {
  #tokenList .flexWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #tokenList .btn.flexCenter {
    justify-content: flex-end;
  }
}

@media (max-width: 568px) {
  #tokenList .flexWrapSm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
