#TokenSaleListForToken {
  background: white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 25px;
}

#TokenSaleListForToken img.status {
  width: 40px;
  margin: 0 auto;
}

#TokenSaleListForToken img.kyc {
  width: 60px;
  margin: 0 auto;
}

#TokenSaleListForToken .centerTxt {
  text-align: center;
}

#TokenSaleListForToken .heightBox {
  height: 50px;
  max-height: 150px;
  padding: 0px 5px;
  margin-top: 10px;
}

#TokenSaleListForToken h4 {
  font-size: 0.98rem;
  color: #FA8100;
  margin: 0;
  font-weight: 500;
}

#TokenSaleListForToken p {
  font-size: 0.97rem;
  margin: 5px 0;
  font-weight: 400;
  color: #7D7D7D;
}

#TokenSaleListForToken .marginTop {
  margin-top: 15px;
}
#TokenSaleListForToken .paddingTop {
  padding-top: 15px;
}



#TokenSaleListForToken .breakWord {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

#TokenSaleListForToken .borderRight {
  border-right: 1px solid #d4d4d4;
}

#TokenSaleListForToken .greenTxt {
  color: #33BE24;
}

#TokenSaleListForToken .redTxt {
  color: #D93D3D;
}

#TokenSaleListForToken button.copy {
  padding: 8px 40px;
  max-width: 90%;
  background-color: #888888;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

#TokenSaleListForToken button.copy:hover {
  background-color: #6e6e6e;
}

#TokenSaleListForToken button.copy span.fa {
  margin-right: 5px;
}

#TokenSaleListForToken button.copy.copied {
  background-color: #33BE24;
}

#TokenSaleListForToken button.modify {
  padding: 8px 40px;
  max-width: 90%;
  background-color: #FA8100;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto 0;
}

#TokenSaleListForToken button.modify:hover {
  background-color: #FFAA00;
}

#TokenSaleListForToken button.modify span.fa {
  margin-right: 5px;
}

@media (min-width: 1024px){
  #TokenSaleListForToken .borderTop {
    border-top: 1px solid #d4d4d4;
  }
}
@media (max-width: 1023px){
  .centerResponsive {
   text-align: center;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
  }
.centerTextResponsive{
  text-align: center;
}
}

@media (min-width: 400px){
  #TokenSaleListForToken img.status {
    width: 40px;
    margin: 0 auto;
  }
  
  #TokenSaleListForToken img.kyc {
    width: 60px;
    margin: 0 auto;
  }
}
@media (max-width: 399px){
  #TokenSaleListForToken img.status {
    width: 20px;
    margin: 0 auto;
  }
  
  #TokenSaleListForToken img.kyc {
    width: 40px;
    margin: 0 auto;
  }
}
