#TokenDetailsTutorial .videoContent {
  padding: 10px;
  text-align: center;
  background: white;
  border-radius: 5px;
}

#TokenDetailsTutorial button {
  width: 200px;
  border-radius: 5px;
  background-color: #FA8100;
  padding: 20px 0px;
  border: none;
  color: white;
  margin-top: 20px;
}

#TokenDetailsTutorial button:hover {
  background: #ffaa00;

}
