main {
  /* Height = Max viewport height - Header Height - Footer Height
  min-height: calc(100vh - 90px - 64px); */
  
  /* Height = Max viewport height - Header Height */
  min-height: calc(100vh - 90px);
  background-color: #EEEEEE;
}
