#token-wizard {
 padding: 50px 0;
 max-width: 1280px;
 margin: auto;
}

#token-wizard div.progress-container {
 margin: 50px 0;
}

#token-wizard div.progress-title {
 text-align: right;
 color: #888888;
}

#token-wizard div.progress-bar {
 height: 50px;
 background-color: white;
 border-radius: 5px;
 overflow: hidden;
 margin-top: 25px;
}

#token-wizard div.progress-bar-content {
 height: 100%;
 background: linear-gradient(90deg, #FA8100, #fa9e3c);
}

#token-wizard div.video-placeholder {
 background-color: #24242A;
 border-radius: 5px;
 margin-bottom: 15px;
 height: 220px;
}

@media (min-width: 768px) {
 #token-wizard div.video-placeholder {
  margin-bottom: 0;
 }
}

#token-wizard div.video-placeholder span.fa {
 color: white;
 font-size: 64px;
}

#token-wizard a.advanced {
 color: #888888;
 margin-top: 15px;
 text-decoration: underline;
}

#token-wizard div.content {
 margin-bottom: 50px;
}