#token-advanced {
 padding: 50px 0;
}

#token-advanced button.deploy {
 background-color: #FFB950;
 height: 70px;
 color: white;
 border: none;
 border-radius: 5px;
}

#token-advanced a.wizard {
 color: #888888;
 margin-bottom: 15px;
 text-decoration: underline;
}

#token-advanced div.big-card {
 background-color: white;
 padding: 25px;
 border-radius: 5px;
 margin-top: 15px;
}

#token-advanced div.deploy-container {
 padding: 35px;
 margin-bottom: 10px;
}

@media (min-width: 1024px) {
 #token-advanced div.deploy-container {
  margin-bottom: 0;
 }
}