#token-advanced {
 padding: 50px 0;
 max-width: 1280px;
 margin: auto;
}

#token-advanced a.wizard {
 color: #888888;
 text-decoration: underline;
}

#token-advanced div.big-card {
 background-color: white;
 padding: 25px;
 border-radius: 5px;
 margin-top: 15px;
}

#token-advanced div.deploy-container {
 padding: 35px;
 margin-bottom: 10px;
}

@media (min-width: 1024px) {
 #token-advanced div.deploy-container {
  margin-bottom: 0;
 }
}

#token-advanced #wallet-selection {
 margin-top: 15px;
}