#token-wizard {
 padding: 50px 0;
 max-width: 1280px;
 margin: auto;
}

#token-wizard div.video-placeholder {
 background-color: #24242A;
 border-radius: 5px;
 margin-bottom: 15px;
 height: 220px;
}
#token-wizard .goBackBtn {
    color: #888888;
    text-decoration: underline;
    border: none;
    background: none;
    margin-top: 15px;
  }
@media (min-width: 768px) {
 #token-wizard div.video-placeholder {
  margin-bottom: 0;
 }
}

#token-wizard div.video-placeholder span.fa {
 color: white;
 font-size: 64px;
}

#token-wizard a.advanced {
 color: #888888;
 margin-top: 15px;
 text-decoration: underline;
}

#token-wizard div.content {
 margin-bottom: 50px;
}