#home {
 padding: 50px 5%;
}

#home span.message {
 
 color: #575757;
 
 margin: 50px 0;
}

#home button.start-now {
 width: 220px;
 height: 60px;
 background: #FA8100;
 border: none;
 border-radius: 5px;
 color: white;
 
}

#home button.start-now:hover {
    background: #FFAA00;

}