#home {
  background: white;
}

#home .homeBg {
  background-image: url("../assets/images/homeBg.svg");
  background-repeat: no-repeat;
}

#home p {
  margin-top: 20px;
  line-height: 30px;
  font-size: 16px;
  color: #888;
}

#home .spanText {
  color: #FA8100;
  font-style: italic;
}

#home h1.message {
  color: #888;
  margin: 0px;
  font-weight: 600;
}

#home button.start-now {
  width: 220px;
  height: 60px;
  background: #FA8100;
  border: none;
  border-radius: 5px;
  color: white;

}

#home button.start-now:hover {
  background: #FFAA00;
}

@media (min-width: 1367px) {

  #home .homeBg {
    height: 100%;
    background-position: left bottom;
    background-size: 90%;
    height: calc(100vh);
  }

  #home h1.message {
    font-size: 35px;
  }
  #home .marginTop {
    margin-top: 50px;
  }
  #home .textHome {
    text-align: right;
    padding-right: 5%;
  }
}

@media (max-width: 1366px) {
  #home {
    flex-direction: row;
  }

  #home .homeBg {
    height: 100%;
    background-position: left bottom;
    background-size: 100%;
    height: calc(100vh);
  }

  #home h1.message {
    font-size: 35px;
  }
  #home .marginTop {
    margin-top: 50px;
  }
  #home .textHome {
    text-align: right;
    padding-right: 5%;
  }

  #home p {
    font-size: 18px;
  }

  #home h1.message {
    font-size: 35px;
  }
}

@media (max-width: 1024px) {
  #home .homeBg {
    height: 100%;
    background-position: left bottom;
    background-size: 100%;
    min-height: calc(100vh - 90px);
  }
  #home .marginTop {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  #home {
    flex-direction: column;
  }
  #home .homeBg {
    height: 100%;
    background-position: left bottom;
    background-size: 140%;
    min-height: calc(100vh + 100px);
  }

  #home .textHome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5%;
  }

  #home p {
    font-size: 14px;
  }

  #home h1.message {
    font-size: 30px;

  }
}
@media (max-width: 600px) {

  #home .homeBg {
    height: 100%;
    background-position: left bottom;
    background-size: 170%;
    min-height: calc(100vh + 120px);
  }

  #home h1.message {
    font-size: 25px;
  }
  #home .marginTop {
    margin-top: 20px;
  }
}
@media (max-width: 400px) {

  #home .homeBg {
    height: 100%;
    background-position: left bottom;
    background-size: 170%;
    min-height: calc(100vh + 230px);
  }

  #home h1.message {
    font-size: 25px;
  }
  #home .marginTop {
    margin-top: 10px;
  }
}
