/*Token Details Header*/
.TokenDetailsHeader {
  padding: 20px 0px;
max-width: 1920px;
}
.HeaderContainer{
  background: white;
}
.TokenDetailsHeader img {
  width: 50px;
  margin-left: 20px;
}
.TokenDetailsHeader a img:active {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.TokenDetailsHeader .textCenter {
  text-align: center;
}

.TokenDetailsHeader .flexEnd {
  align-self: flex-end;
}

.TokenDetailsHeader .flexStart {
  align-self: flex-start;
}

.TokenDetailsHeader .breakWord {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.TokenDetailsHeader h4 {
  font-size: 13px;
  color: #FA8100;
  margin: 0;
  font-weight: 500;
}

.TokenDetailsHeader p {
  font-size: 12px;
  margin: 5px 0;
  font-weight: 400;
  color: #7D7D7D;
}

/*Token Details Body*/
.TokenDetailsBody {
  padding: 20px;
  max-width: 900px;
}
.DetailsWidth{
}
/*Token Details Menu*/
.TokenDetailsMenu {
  background: #575757;

}
.TokenDetailsMenu a button p {
  font-weight: 500;
  font-family: 'Ubuntu';
  margin: 0 0 0 10px;
}
.TokenDetailsMenu .closedHandleMenu {
  width: 140px;
  height: 80px;
  background: #FA8100;
  color: white;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.TokenDetailsMenu .closedHandleMenu i {
  font-size: 25px;
  transition: all 80ms ease-in;
  -webkit-transition:  all 80ms ease-in;
}

.TokenDetailsMenu .closedHandleMenu p {
  margin: 0;
  transition: all 80ms ease-in;
  -webkit-transition:  all 80ms ease-in;
}

.TokenDetailsMenu .handleMenu p {
  margin: 0 10px;
  transition: all 170ms ease-in;
  -webkit-transition:  all 170ms ease-in;
}
.TokenDetailsMenu .handleMenu i {
  transition: all 180ms ease-in;
  -webkit-transition:  all 180ms ease-in;
}
.TokenDetailsMenu .handleMenu {
  padding: 0px 10px;
  font-weight: 700;
  font-family: 'Ubuntu';
  transition: all 100ms linear;
  -webkit-transition:  all 100ms linear;
}

.TokenDetailsMenu .handleMenu {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  border-bottom: 2px solid #d4d4d4;
  background: #343434;
  color: white;
  cursor: pointer;
}

.TokenDetailsMenu button img {
  width: 25px;
}

.TokenDetailsMenu.widthMenuClosed {
  width: 8%;
  min-width: 85px;
  cursor: pointer;
}

.TokenDetailsMenu div a {
  text-decoration: none;
}

.TokenDetailsMenu button {
  width: 100%;
  text-align: left;
  height: 80px;
  border-width: 0px;
  color: #d4d4d4;
  background: #575757;
  display: flex;
  align-items: center;
}

.TokenDetailsMenu button.borderBtn {
  border-bottom: 1px solid #d4d4d4;
}

.TokenDetailsMenu button:hover {
  background: #343434;
}

/*Token Details Media Query*/

@media (min-width: 1301px) {
  .TokenDetailsHeader .heightBox {
    height: 50px;
  }
}

@media (max-width: 1300px) {
  .TokenDetailsHeader .heightBox {
    height: 60px;
  }
}
@media (min-width: 1280px) {
.TokenDetailsMenu button.borderBtn {
  padding-left: 40px;
}
}
@media (max-width: 1279px) {
  .TokenDetailsMenu button.borderBtn {
    padding-left: 20px;
  }
  }
@media (min-width: 1024px) {

  .TokenDetailsHeader .paddingItems {
    padding-left: 10px;
  }

  .TokenDetailsHeader .borderRight {
    border-right: 1px solid #b8b8b8;
  }

  .TokenDetailsHeader .flexView {
    display: flex;
  }

  .TokenDetailsHeader {
    padding: 20px 0px;
  }
}

@media (max-width: 1023px) {
  .TokenDetailsHeader .heightBox {
    height: 80px;
  }

  .TokenDetailsHeader .paddingItems {
    text-align: center;
  }

  .TokenDetailsHeader .flexView {
    display: block;
  }

  .TokenDetailsHeader {
    padding: 20px 0px;
  }
}
@media (min-width: 768px) {

  .TokenDetailsBody {
    padding-top: 70px;
  }
  .TokenDetailsMenu {
    min-height: calc(100vh);
  }

}

@media (max-width: 767px) {
  .TokenDetailsMenu button.borderBtn {
    padding-left: 40px;
  }
  .TokenDetailsMenu .hideMenuResponsive {
    display: none;
  }
}
@media (min-width: 64em){
  .TokenDetailsHeader .lg-2l-24{
    width: 10.3333%;
  }
  .TokenDetailsHeader .lg-2s-24{
    width: 7.3333%;
  }
}
