/*Token Details Header*/
.TokenDetailsHeader {
  padding: 20px 0px;
  max-width: 1920px;

}

.HeaderContainer {
  background: white;
}

.TokenDetailsHeader img {
  width: 50px;
  margin-left: 20px;
}

.TokenDetailsHeader a img:active {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}

.TokenDetailsHeader .textCenter {
  text-align: center;
}

.TokenDetailsHeader .flexEnd {
  align-self: flex-end;
}

.TokenDetailsHeader .flexStart {
  align-self: flex-start;
}

.TokenDetailsHeader .breakWord {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.TokenDetailsHeader h4 {
  font-size: 13px;
  color: #FA8100;
  margin: 0;
  font-weight: 500;
}

.TokenDetailsHeader p {
  font-size: 12px;
  margin: 5px 0;
  font-weight: 400;
  color: #7D7D7D;
}

/*Token Details Body*/
.TokenDetailsBody {
  padding-top: 5px;
}

.DetailsWidth {
  padding: 25px;
}

/*Token Details Menu*/
.TokenDetailsMenu {
  background: #575757;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.TokenDetailsMenu p.marginTxt,
.TokenDetailsMenu .handleMenu p {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}


.TokenDetailsMenu a button p {
  font-weight: 500;
  font-family: 'Ubuntu';
  margin: 0 0 0 10px;
}

.TokenDetailsMenu .closedHandleMenu {
  width: 140px;
  height: 80px;
  background: #FA8100;
  color: white;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.TokenDetailsMenu .closedHandleMenu i {
  font-size: 25px;
  transition: all 80ms ease-in;
}

.TokenDetailsMenu .closedHandleMenu p {
  margin: 0;
  transition: all 80ms ease-in;
}

.TokenDetailsMenu .handleMenu p {
  margin: 0 10px;
}

.TokenDetailsMenu .closedHandleMenu:hover {
  background: #FFAA00;
}

.TokenDetailsMenu .handleMenu:hover {
  background: #24242a;
}

.TokenDetailsMenu .handleMenu {
  padding: 0px 10px;
  font-weight: 700;
  font-family: 'Ubuntu';
}

.TokenDetailsMenu .handleMenu {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  border-bottom: 2px solid #d4d4d4;
  background: #343434;
  color: white;
  cursor: pointer;
}

.TokenDetailsMenu button img {
  width: 25px;
  margin-right: 9px;
}

.TokenDetailsMenu.widthMenuClosed {
  width: 8%;
  min-width: 85px;
  cursor: pointer;
}

.TokenDetailsMenu div a {
  text-decoration: none;
}

.TokenDetailsMenu button {
  width: 100%;
  text-align: left;
  height: 80px;
  border-width: 0px;
  color: #d4d4d4;
  background: #575757;
  display: flex;
  align-items: center;
  position: relative;
}

.TokenDetailsMenu .grayFilter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.TokenDetailsMenu button.borderBtn {
  border-bottom: 1px solid #d4d4d4;
}

.TokenDetailsMenu button:hover {
  background: #343434;
}

.TokenDetailsMenu .hoverTxt {
  position: absolute;
  left: 90px;
  width: 200px;
  color: #7D7D7D;
}

.TokenDetailsMenu p.hoverTxt {
  margin: 0px;
}

.TokenDetailsMenu button.active {
  background-color: #eeeeee;
  color: #fa8100;
  border-right: 2px solid #fa8100;
}

.TokenDetailsMenu button.active.flex-h-center {
  padding-left: 0px;
}

.TokenDetailsMenu button.active.flex-h-center img {
  margin-right: 0px;
}

/*Token Details Media Query*/

@media (min-width: 1301px) {
  .TokenDetailsHeader .heightBox {
    height: 50px;
    max-height: 150px;
  }
}

@media (max-width: 1300px) {
  .TokenDetailsHeader .heightBox {
    height: 60px;
  }
}

@media (min-width: 1280px) {

  .TokenDetailsMenu button.borderBtn,
  .TokenDetailsMenu button.active {
    padding-left: 40px;
  }
}

@media (max-width: 1279px) {

  .TokenDetailsMenu button.borderBtn,
  .TokenDetailsMenu button.active {
    padding-left: 20px;
  }
}

@media (min-width: 1024px) {

  .TokenDetailsHeader .paddingItems {
    padding-left: 10px;
  }

  .TokenDetailsHeader .borderRight {
    border-right: 1px solid #d4d4d4;
  }

  .TokenDetailsHeader .flexView {
    display: flex;
  }

  .TokenDetailsHeader {
    padding: 20px 0px;
  }
}

@media (max-width: 1023px) {
  .TokenDetailsHeader .heightBox {
    height: 80px;
  }

  .TokenDetailsHeader .paddingItems {
    text-align: center;
  }

  .TokenDetailsHeader .flexView {
    display: block;
  }

  .TokenDetailsHeader {
    padding: 20px 0px;
  }
}

@media (min-width: 768px) {

  .TokenDetailsBody {
    padding-top: 70px;
  }

  .TokenDetailsMenu {
    min-height: calc(170vh);
  }

}

@media (max-width: 767px) {

  .TokenDetailsMenu button.borderBtn,
  .TokenDetailsMenu button.active {
    padding-left: 40px;
  }

  .TokenDetailsMenu .hideMenuResponsive {
    display: none;
  }

  .TokenDetailsBody {
    padding-top: 70px;
  }
}

@media (min-width: 64em) {
  .TokenDetailsHeader .lg-2l-24 {
    width: 10.3333%;
  }

  .TokenDetailsHeader .lg-2s-24 {
    width: 7.3333%;
  }
}
