#token-wizard div.step, #wallet-selection.step {
 background-color: white;
 padding: 50px 25px;
 border-radius: 5px;
}

div#wallet-selection.step {
  box-shadow: 0 0 10px 0px #E2E2E2 !important;
}

#token-advanced div.step {
 box-shadow: none;
 min-height: 100%;
 padding: 35px;
}

div.step div.top div.left img.icon {
 width: 48px;
 object-fit: contain;
}

div.step div.top div.right {
 margin-left: 15px;
}

div.step div.top div.right span.title {
 color: #f9af39;
}

div.step div.top div.right span.description {
 
 color: #B8B8B8;
 margin-top: 5px;
}

div.step form.bottom {
 margin-top: 25px;
 padding-left: 63px;
}