div.step div.input-box.dropdown select, div.step div.input-box.fake-dropdown div.fake {
 position: absolute;
 top: 0;
 right: 0;
 width: calc(30% + 4px);
 height: 40px;
 border-radius: 0 5px 5px 0;
 background-color: #EEEEEE;
 color: #888888;
 padding: 0 10px;
}

div.step div.input-box.dropdown input.text {
 width: 70%;
 padding-right: calc(10px + 4px);
}

div.step div.input-box.fake-dropdown div.fake {
 width: calc(20% + 4px);
 border: 1px solid #B8B8B8;
}

div.step div.input-box.fake-dropdown input.text {
 width: 80%;
 padding-right: calc(10px + 4px);
}