div.step button.radio-box {
 border: 2px solid #888888;
 border-radius: 5px;
 position: relative;
 text-align: center;
 background-color: transparent;
 margin: 10px 0;
 padding: 20px 0;
 color: #888888;
}

@media (min-width: 568px) {
 div.step button.radio-box.pure-u-sm-7-24 {
  margin: 0 0;
  word-spacing: 30000px;
 }
}

@media (min-width: 1024px) {
 div.step button.radio-box.pure-u-lg-7-24 {
  margin: 0 0;
  word-spacing: 30000px;
 }
}

div.step button.radio-box.active {
 border: 2px solid #FFB950;
 color: #FFB950;
}

div.step button.radio-box div.radio-button {
 position: absolute;
 top: 5px;
 right: 5px;
 width: 16px;
 height: 16px;
 border-radius: 1000px;
 border: 2px solid #888888;
}

div.step button.radio-box div.radio-button-dot {
 width: 8px;
 height: 8px;
 border-radius: 1000px;
 background-color: #888888;
}

div.step button.radio-box.active div.radio-button {
 border-color: #FFB950;
}

div.step button.radio-box.active div.radio-button-dot {
 background-color: #FFB950;
}

div.step button.radio-box img {
 width: 72px;
 object-fit: contain;
 margin-bottom: 10px;
}