div.step {
 box-shadow: none;
 min-height: 100%;
 padding: 5%;
}

div.step.alone {
 background-color: white;
 padding: 50px 25px;
 border-radius: 5px;
 box-shadow: 0 0 10px 0px #E2E2E2;
}

div.step form.bottom {
 margin-top: 25px;
}

@media (min-width: 568px) {
 div.step form.bottom {
  padding-left: 63px;
 }
}

/* Next lines are to delete after the StepHeader refactor is complete */

div.step div.top div.left img.icon {
 width: 48px;
 object-fit: contain;
}

@media (min-width: 568px) {
 div.step div.top div.right {
  margin-left: 15px;
 }
}

div.step div.top div.right span.title {
 color: #FA8100;
}

div.step div.top div.right span.description {
 color: #B8B8B8;
 margin-top: 5px;
}

div.step form.bottom div.tooltip {
 position: relative;
 background-color: black;
 border-radius: 5px;
 overflow: visible;
 padding: 10px;
 color: white;
 margin-top: 10px;
 text-align: center;
 font-size: 12px;
}

div.step form.bottom div.tooltip div.triangle {
 width: 0;
 height: 0;
 border-left: 5px solid transparent;
 border-right: 5px solid transparent;
 border-bottom: 5px solid black;
 position: absolute;
 top: -5px;
 left: 50%;
 transform: translateX(-50%);
}