div.step form.bottom input.text,
div.step form.bottom button.next,
.btnNext,
.nextBtn {
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
}

.modifyDate .nextBtn {
  margin-top: 20px;
  width: 200px;
}

div.step form.bottom input.text {
  width: 100%;
  padding: 0 10px;
  border: 1px solid #B8B8B8;
  border-radius: 5px;
  color: #888888;
}

div.step form.bottom input.text::placeholder {
  font-style: italic;
  color: #888888;
}

.nextBtn {
  background: #FA8100;
  color: white;
  position: relative;
  margin: 0 auto;
}

div.step form.bottom button.next,
.btnNext {
  background: #FA8100;
  color: white;
  position: relative;
  margin-left: 10px;
}

.btnNext {
  align-self: flex-end;
  margin-bottom: 5%;
}

div.step form.bottom button.next:hover,
.btnNext:hover,
.nextBtn:hover {
  background: #FFAA00;
}

div.step form.bottom div.input-box {
  position: relative;
}