#token-address button.close {
 height: 60px;
 color: white;
 background-color: #888888;
 border: none;
 border-radius: 5px;
}

#token-address a {
 margin-top: 15px;
}

#token-address button.deploy {
 margin: 0 0;
 height: 60px;
}

#token-advanced #token-address div.step {
 background-color: white;
 padding: 50px 25px;
 border-radius: 5px;
 box-shadow: 0 0 10px 0px #E2E2E2 !important;
 margin-top: 15px;
}