#WalletSelection .item{
  min-height: 90px;
  border:3px solid #efefef;
  border-radius: 5px;
  text-align: center;
}
#WalletSelection .item.selected{
  border:3px solid #afafaf;
  background: #efefef;
}

#WalletSelection .item:hover{
  border:3px solid #afafaf;
  background: #efefef;
  cursor: pointer;
}
